@import "tailwindcss";

:root {
  --color-primary: #13474F;
  --background-color: #eaeaea;
}

#about {
    background-color: var(--background-color);
}

.skill {
    background-color: var(--background-color);
}

